@import url('https://fonts.google.com/specimen/Manrope');
:root{
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);


--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


body{
    background-color: var(--Dark-Grayish-Blue);
    color: lightcyan;
}
.container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vh; */
  flex-direction: column;
  font-family: 'Manrope';
  margin: auto;
}
.wrapper{
  width: 70%;
  margin: auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Grayish-Blue);
  padding: 3rem;
  border-radius: 14px;
  position: relative;
}
.quote-no{
  padding: 1rem 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--Neon-Green);
}
.main-quote{
  font-size: 28px;
  letter-spacing: 4px;
  text-align: center;
}
.divider{
  padding: 1rem 0 ;
  display: flex;
}
.img-dice {
  position: absolute;
  bottom: -23px;
  /* left: 50%; */
  right: 47.6%;
  background-color: var(--Neon-Green);
  padding: .6rem .6rem .6rem .6rem;
  /* margin-top: 10px; */
  border-radius: 100%;
}
hr{
   
}
@media screen {
  
}
